@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Permanent+Marker&display=swap');

body {
  background: black !important;
}
.aboutSec {
    align-items: center  !important;
}

a.elementor-button.elementor-button-link.elementor-size-sm.elementor-animation-bob,
a.hfe-menu-item.elementor-button,
a.elementor-button.elementor-button-link.elementor-size-sm,
.elementor-106 .elementor-element.elementor-element-331239d .metform-btn{
    background-image: linear-gradient(to right, #35cbfe, #ee5fa1)  !important;
}

.elementor-5 .elementor-element.elementor-element-c2b00fa > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-52db1ae > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-5426640 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-18903e9 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-77cd434 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-528d998 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-117eff0 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-117eff0 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-0b29ff1 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-66dfef3 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-21ede7b > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-aa9ccbe .jeg-elementor-kit.jkit-accordion .card-wrapper,
.elementor-5 .elementor-element.elementor-element-e0716c2 > .elementor-widget-container,
.elementor-5 .elementor-element.elementor-element-cfab397 > .elementor-widget-container,
.elementor-5 .elementor-element.elementor-element-582318e > .elementor-widget-container,
.elementor-5 .elementor-element.elementor-element-16c1b23,
.elementor-5 .elementor-element.elementor-element-461ac34 > .elementor-widget-container,
.elementor-106 .elementor-element.elementor-element-d2e15df .mf-input, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-file-upload-label, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-calculation-total, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-select > .mf_select__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-multiselect .mf_multiselect__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf_multiselect__option {
    border-color: rgb(158 123 177) !important;
}


.elementor-5 .elementor-element.elementor-element-4589546 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-306ff72 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-01c2a78 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-fab7842 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-f80229b .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-626de9d .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-267bf72 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-d7770ef .jeg-elementor-kit.jkit-heading .heading-title > span,
.elementor-5 .elementor-element.elementor-element-d1e734b .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-a6f6f76 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-b8a57ac .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-17bc557 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-650237f .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-e0716c2 .ha-member-name,
.elementor-5 .elementor-element.elementor-element-cfab397 .ha-member-name,
.elementor-5 .elementor-element.elementor-element-582318e .ha-member-name,
.elementor-5 .elementor-element.elementor-element-aa9ccbe .jeg-elementor-kit.jkit-accordion .card-wrapper.expand .card-header .card-header-button,
.elementor-5 .elementor-element.elementor-element-aa9ccbe .jeg-elementor-kit.jkit-accordion .card-wrapper:not(.expand) .card-header .card-header-button,
.elementor-5 .elementor-element.elementor-element-8812e55 .elementor-heading-title,
.elementor-59 .elementor-element.elementor-element-976c226 .elementor-heading-title,
.elementor-59 .elementor-element.elementor-element-da6cc1f .elementor-heading-title,
.elementor-59 .elementor-element.elementor-element-c29d352 .elementor-heading-title,
.elementor-106 .elementor-element.elementor-element-d2e15df .mf-input, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-file-upload-label, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-calculation-total, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-select > .mf_select__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-multiselect .mf_multiselect__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf_multiselect__option
,.elementor-5 .elementor-element.elementor-element-586d49c .ha-fun-factor__content-number,
.elementor-5 .elementor-element.elementor-element-efd127a .ha-fun-factor__content-number,
.elementor-5 .elementor-element.elementor-element-a4305e5 .ha-fun-factor__content-number-prefix,
.elementor-5 .elementor-element.elementor-element-586d49c .ha-fun-factor__content-number-suffix,.elementor-5 .elementor-element.elementor-element-efd127a .ha-fun-factor__content-number-suffix,
.elementor-5 .elementor-element.elementor-element-a4305e5 .ha-fun-factor__content-number

{
    background: -webkit-linear-gradient(19deg, #35cbfe, #ee5fa1 80%)  !important;
    -webkit-background-clip: text  !important;
    -webkit-text-fill-color: transparent;
    
}

.elementor-widget-text-editor {
    color: white !important;
}

.elementor-5 .elementor-element.elementor-element-8ecbb75:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-8ecbb75 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url(../img/waitlistBg.gif);
}

#navFix {
  opacity: 0; /* hide by default */
  top: 0; 
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background: #0000007a;
    transition: opacity 0.5s ease;
}
@media (max-width: 600px) {
  .elementor-section .elementor-container {

    justify-content: center !important;
}
img.hfe-site-logo-img.elementor-animation- {
  max-width: 45% !important;
}
  
}
@media (min-width: 800px) {
   
  .hfe-site-logo-container {
    max-width: 53% !important;
}
}

.faqFlex {
  justify-content: center;
}

.elementor-kit-4 button, .elementor-kit-4 input[type="button"], .elementor-kit-4 input[type="submit"], .elementor-kit-4 .elementor-button
{
  border-color: black !important;
}
.elementor-5 .elementor-element.elementor-element-c2b00fa > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-52db1ae > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-5426640 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-18903e9 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-77cd434 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-528d998 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-117eff0 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-117eff0 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-0b29ff1 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-66dfef3 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-21ede7b > .elementor-element-populated{
  box-shadow: none !important;
}

.elementor-5 .elementor-element.elementor-element-896952e img {
  object-fit: contain !important;
}

.elementor-5 .elementor-element.elementor-element-226475d:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-226475d > .elementor-motion-effects-container > .elementor-motion-effects-layer
{
  background-image: none !important;
}
.elementor-5 .elementor-element.elementor-element-226475d > .elementor-background-overlay{
  background-color: black !important;
}


.elementor-widget-text-editor,.elementor-5 .elementor-element.elementor-heading-title{
  font-family: var(--e-global-typography-45fe920-font-family ), sans-serif !important;
}



















/*flash*/
.HeadSplash {
  color: white;
  background-color: black;
  font-family: "Press Start 2P", monospace !important;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.HeadSplash:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: repeating-linear-gradient(#0D122B, #0D122B 2px, #565B73 2px, #565B73 4px);
  opacity: 0.2;
  z-index: 100;
  content: "";
  pointer-events: none;
}

a.nHead {
  text-decoration: none;
  color: inherit;
}

h1.hTitle {
  margin: 0;
}

.splash-screen {
  width: 100vw;
  height: 100vh;
}

.title-head {
  margin: auto;
  font-family: "Permanent Marker", monospace !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 40vh;
  font-size: 2rem;
  line-height: 0.75;
  word-break: break-word;
  max-width: 500px;
}

.title-head h1 {
  background: -webkit-linear-gradient(#35cbfe 30%, #ee5fa1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Permanent Marker", monospace !important;
}

.title-top {
  transform: skew(-10deg) rotate(-10deg) translateX(-2rem);
}

.title-bottom {
  transform: skew(-10deg) rotate(-10deg) translateX(1rem);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  margin: auto;
}

.buttons a {
  display: block;
  margin-bottom: 1rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.credit {
  margin-top: 10px;
  pointer-events: none;
}

.grey-with-red {
  color: rgb(192, 192, 192);
  text-shadow: 2px 2px 0 rgb(192, 11, 11);
}

.purple-with-blue {
  color: rgb(147, 154, 255);
  text-shadow: 2px 2px 0 rgb(47, 61, 255);
}

.yellow-with-darkyellow {
  color: rgb(226, 179, 24);
  text-shadow: 0 2px 0 rgb(107, 77, 11), 2px 0 0 rgb(151, 109, 19),
    2px 2px 0 rgb(151, 109, 19);
}

.yellow {
  color: rgb(226, 179, 24);
}

.big {
  font-size: 6rem;
}

@media (min-width: 400px) {
  body {
    font-size: 1.2rem;
  }

  .big {
    font-size: 7rem;
  }
}

@media (min-width: 600px) {
  .big {
    font-size: 9rem;
  }

  .title-head {
    font-size: 3rem;
    height: 50vh;
  }

  .buttons {
    height: 40vh;
  }

  .title-top {
    transform: skew(-10deg) rotate(-10deg) translateX(-2rem);
  }

  .title-bottom {
    transform: skew(-10deg) rotate(-10deg) translateX(3rem);
  }
}

@media (min-width: 800px) {
  .credit {
    position: absolute;
    right: 50px;
    margin-top: 0;
  }
}

/* Stole this idea from twilioquest, it's freaking sick. */
.load {
  animation: load 800ms 500ms backwards;
}

@keyframes load {
  0% {
    filter: blur(2px) hue-rotate(-150deg);
  }
}

::selection {
  background: #b4fdff;
}

::-moz-selection {
  background: #b4fdff;
}