.aboutSec {
    align-items: center  !important;
}

a.elementor-button.elementor-button-link.elementor-size-sm.elementor-animation-bob,
a.hfe-menu-item.elementor-button,
a.elementor-button.elementor-button-link.elementor-size-sm,
.elementor-106 .elementor-element.elementor-element-331239d .metform-btn{
    background-image: linear-gradient(to right, orange, red)  !important;
}

.elementor-5 .elementor-element.elementor-element-c2b00fa > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-52db1ae > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-5426640 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-18903e9 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-77cd434 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-528d998 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-117eff0 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-117eff0 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-0b29ff1 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-66dfef3 > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-21ede7b > .elementor-element-populated,
.elementor-5 .elementor-element.elementor-element-aa9ccbe .jeg-elementor-kit.jkit-accordion .card-wrapper,
.elementor-5 .elementor-element.elementor-element-e0716c2 > .elementor-widget-container,
.elementor-5 .elementor-element.elementor-element-cfab397 > .elementor-widget-container,
.elementor-5 .elementor-element.elementor-element-582318e > .elementor-widget-container,
.elementor-5 .elementor-element.elementor-element-16c1b23,
.elementor-5 .elementor-element.elementor-element-461ac34 > .elementor-widget-container,
.elementor-106 .elementor-element.elementor-element-d2e15df .mf-input, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-file-upload-label, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-calculation-total, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-select > .mf_select__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-multiselect .mf_multiselect__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf_multiselect__option {
    border-color: rgb(255, 119, 8) !important;
}


.elementor-5 .elementor-element.elementor-element-4589546 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-306ff72 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-01c2a78 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-fab7842 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-f80229b .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-626de9d .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-267bf72 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-d7770ef .jeg-elementor-kit.jkit-heading .heading-title > span,
.elementor-5 .elementor-element.elementor-element-d1e734b .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-a6f6f76 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-b8a57ac .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-17bc557 .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-650237f .elementor-heading-title,
.elementor-5 .elementor-element.elementor-element-e0716c2 .ha-member-name,
.elementor-5 .elementor-element.elementor-element-cfab397 .ha-member-name,
.elementor-5 .elementor-element.elementor-element-582318e .ha-member-name,
.elementor-5 .elementor-element.elementor-element-aa9ccbe .jeg-elementor-kit.jkit-accordion .card-wrapper.expand .card-header .card-header-button,
.elementor-5 .elementor-element.elementor-element-aa9ccbe .jeg-elementor-kit.jkit-accordion .card-wrapper:not(.expand) .card-header .card-header-button,
.elementor-5 .elementor-element.elementor-element-8812e55 .elementor-heading-title,
.elementor-59 .elementor-element.elementor-element-976c226 .elementor-heading-title,
.elementor-59 .elementor-element.elementor-element-da6cc1f .elementor-heading-title,
.elementor-59 .elementor-element.elementor-element-c29d352 .elementor-heading-title,
.elementor-106 .elementor-element.elementor-element-d2e15df .mf-input, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-file-upload-label, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-calculation-total, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-select > .mf_select__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf-input-multiselect .mf_multiselect__control, .elementor-106 .elementor-element.elementor-element-d2e15df .mf_multiselect__option
,.elementor-5 .elementor-element.elementor-element-586d49c .ha-fun-factor__content-number,
.elementor-5 .elementor-element.elementor-element-efd127a .ha-fun-factor__content-number,
.elementor-5 .elementor-element.elementor-element-a4305e5 .ha-fun-factor__content-number-prefix,
.elementor-5 .elementor-element.elementor-element-586d49c .ha-fun-factor__content-number-suffix,.elementor-5 .elementor-element.elementor-element-efd127a .ha-fun-factor__content-number-suffix,
.elementor-5 .elementor-element.elementor-element-a4305e5 .ha-fun-factor__content-number

{
    background: -webkit-linear-gradient(19deg, orange, red 80%)  !important;
    -webkit-background-clip: text  !important;
    -webkit-text-fill-color: transparent;
    
}
.fas{
    fill: red;
}
.elementor-widget-text-editor {
    color: white !important;
}

.elementor-5 .elementor-element.elementor-element-8ecbb75:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-8ecbb75 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url(../img/waitlistBg.gif);
}

.navFix {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background: #0000007a;
}